.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.layout-content {
    padding: 0 $bodySidePadding;
    flex: 1 1 0;
}

.layout-mask {
    display: none;
    background-color: $maskBgColor;
    position: fixed;
    top: 68px;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    animation-name: fadeInMask;
    animation-duration: $transitionDuration;
}

@media screen and (max-width: $mobileBreakpoint) {
    .layout-content {
        padding: 0 1em;
        margin-top: -120px;
    }

    .layout-menu-active {
        .layout-mask {
            display: block;
        }
    }
}